<?xml version="1.0"?>
<launch>

   <!-- <include file="$(find racecar)/launch/teleop.launch"/> -->
   <!-- <include file="$(find usb_cam)/launch/usb_cam-test.launch"/> -->

   <node name="steering_node" pkg="lane_detection" type="steering_publisher.py" output="screen">
   </node>
   <node name="control_wecar" pkg="lane_detection" type="control_wecar.py" output="screen"/>
   <node name="object_detector" pkg="lane_detection" type="e_stop.py" output="screen"/>
</launch> 
